Repository jamesvillarrubia/pipecraft: changes, and which Codecov flags are due for each by the changed paths.
All: Utils, Workflow Templates, Generators, CLI

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 60%

  # Ignore files that should not be included in coverage
  ignore:
    - "dist/**"
    - "coverage/**"
    - "docs/**"
    - "docs-site/**"
    - "tests/**"
    - "**/*.d.ts"
    - "**/*.config.*"
    - "**/*.test.ts"
    - "**/*.spec.ts"
    - "**/*.tpl.md"
    - ".github/**"
    - "src/templates/actions/**"  # Action templates are YAML, not executable TS

component_management:
  default_rules:
    # Default thresholds inherited by all components
    # Starting at 60%, with goal to gradually increase to 75%+
    statuses:
      - type: project
        target: 60%
      - type: patch
        target: 60%

  individual_components:
    # Core utilities - business logic
    - component_id: utils
      name: "Utils"
      paths:
        - src/utils/**
      flag_regexes:
        - ^core$

    # Workflow templates - pipeline generation
    - component_id: workflows
      name: "Workflow Templates"
      paths:
        - src/templates/workflows/**
      flag_regexes:
        - ^core$

    # Generators - orchestration code
    - component_id: generators
      name: "Generators"
      paths:
        - src/generators/**
      flag_regexes:
        - ^core$

    # CLI entry point
    - component_id: cli
      name: "CLI"
      paths:
        - src/cli/index.ts
      flag_regexes:
        - ^core$

comment:
  layout: "reach,diff,flags,components"
  show_carryforward_flags: false
  after_n_builds: 1

fix: parse nx.json to extract actual targetDefaults instead of hardcoding
  src/generators/init.tpl.ts
Due: Generators

feat: add Nx pipeline with change detection, domain jobs, and user job preservation
  src/generators/workflows.tpl.ts
  src/templates/workflows/nx-sequential-pipeline.tpl.ts
Due: Workflow Templates, Generators

refactor: extract Nx template into shared operations-based architecture
  src/generators/workflows.tpl.ts
  src/templates/workflows/pipeline-nx.tpl.ts
  src/templates/workflows/shared/index.ts
  src/templates/workflows/shared/operations-changes.ts
  src/templates/workflows/shared/operations-domain-jobs.ts
  src/templates/workflows/shared/operations-header.ts
  src/templates/workflows/shared/operations-tag-promote.ts
  src/templates/workflows/shared/operations-version.ts
Due: Workflow Templates, Generators

docs: add instructions for path-based template refactor
  REFACTOR-PATH-BASED-NEXT.md
Due: none

fix(templates): resolve parseDocument bug and optimize domain job comments
  src/templates/workflows/pipeline-nx.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.OLD.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
  src/templates/workflows/shared/operations-domain-jobs.ts
Due: Workflow Templates

feat(templates): add legacy API compatibility and fix YAML formatting
  src/templates/workflows/pipeline-nx.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
Due: Workflow Templates

feat(templates): fix branch-specific job conditions and merge logic
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
  src/templates/workflows/shared/operations-tag-promote.ts
Due: Workflow Templates

docs: add comprehensive test status and remaining work documentation
  TEST-STATUS.md
Due: none

fix(templates): prevent legacy API from reading filesystem
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
Due: Workflow Templates

refactor: remove legacy API and fix duplicate job generation
  src/templates/workflows/pipeline-nx.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
  tests/integration/path-based-template.test.ts.OLD
  tests/unit/pipeline-path-based.test.ts.OLD
Due: Workflow Templates

fix: add optional chaining for config.nx check
  src/generators/workflows.tpl.ts
Due: Generators

docs: add comprehensive session summary
  SESSION-SUMMARY.md
Due: none

chore: remove orphaned and obsolete files
  .github/workflows/pipeline.yml.backup2
  REFACTOR-PATH-BASED-NEXT.md
  src/templates/workflows/nx-pipeline.tpl.ts
  src/templates/workflows/nx-sequential-pipeline.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.OLD.ts
  tests/integration/path-based-template.test.ts.OLD
  tests/unit/pipeline-path-based.test.ts.OLD
Due: Workflow Templates

fix: add custom pipeline path support and robust error handling
  src/generators/workflows.tpl.ts
  src/templates/workflows/pipeline-nx.tpl.ts
  src/templates/workflows/pipeline-path-based.tpl.ts
  src/templates/workflows/shared/operations-header.ts
  src/templates/workflows/shared/operations-tag-promote.ts
Due: Workflow Templates, Generators

refactor: standardize template naming and remove unused nx-analyzer
  src/generators/workflows.tpl.ts
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/utils/nx-analyzer.ts
  tests/unit/nx-analyzer.test.ts
Due: Utils, Workflow Templates, Generators

refactor: deduplicate github-setup files and simplify CLI
  examples/trunk-based-nx-demo/libs/user-management/src/lib/user-management.ts
  src/cli/index.ts
  src/utils/github-setup-v2.ts
Due: Utils, CLI

fix: correct hyphenated function names in example Nx demo libs
  examples/trunk-based-nx-demo/libs/admin-dashboard/src/lib/admin-dashboard.integration.spec.ts
  examples/trunk-based-nx-demo/libs/admin-dashboard/src/lib/admin-dashboard.spec.ts
  examples/trunk-based-nx-demo/libs/admin-dashboard/src/lib/admin-dashboard.ts
  examples/trunk-based-nx-demo/libs/user-management/src/lib/user-management.integration.spec.ts
  examples/trunk-based-nx-demo/libs/user-management/src/lib/user-management.spec.ts
Due: none

test: add comprehensive tests for Nx pipeline template
  tests/unit/pipeline-nx-template.test.ts
Due: none

test: add messaging tests and optimize coverage configuration
  tests/unit/messaging.test.ts
  vitest.config.ts
Due: none

test: dramatically improve messaging.ts coverage and exclude example tests
  tests/unit/messaging.test.ts
  vitest.config.ts
Due: none

test: add comprehensive Nx detection tests for init.tpl.ts
  tests/unit/init-generator.test.ts
Due: none

fix: updates.
  IMPLEMENTATION_PLAN.md
  MESSAGING_DEMO.md
  SESSION-SUMMARY.md
  TEST-STATUS.md
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/templates/yaml-format-utils.ts
Due: Workflow Templates

fix: adds some default prefixes to conv. commits
  .release-it.cjs
Due: none

docs: add comprehensive CHANGELOG.md for 1.0 release
  CHANGELOG.md
Due: none

docs: add Contributor Covenant Code of Conduct v2.1
  CODE_OF_CONDUCT.md
Due: none

docs: add SECURITY.md and fix email in CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: none

docs: add additional badges to README
  README.md
Due: none

docs: add comprehensive FAQ section
  docs/docs/faq.md
  docs/sidebars.ts
Due: none

docs: significantly expand CONTRIBUTING.md for open-source
  CONTRIBUTING.md
Due: none

fix: resolve test race conditions in config.test.ts
  tests/unit/config.test.ts
Due: none

feat: add type-safe YAML helpers to eliminate 'as any' casts
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/utils/yaml-helpers.ts
Due: Utils, Workflow Templates

docs: add comprehensive comparison guide with alternatives
  docs/docs/comparison.md
  docs/sidebars.ts
Due: none

docs: expand troubleshooting guide with comprehensive error scenarios
  docs/docs/troubleshooting.md
Due: none

docs: add comprehensive upgrade guide
  docs/docs/upgrade-guide.md
  docs/sidebars.ts
Due: none

feat: create pipecraft-example-minimal repository
  examples/pipecraft-example-minimal/.gitignore
  examples/pipecraft-example-minimal/.pipecraftrc.json
  examples/pipecraft-example-minimal/README.md
  examples/pipecraft-example-minimal/build.js
  examples/pipecraft-example-minimal/package.json
  examples/pipecraft-example-minimal/src/index.js
  examples/pipecraft-example-minimal/src/utils.js
  examples/pipecraft-example-minimal/test-runner.js
  examples/pipecraft-example-minimal/test/utils.test.js
Due: none

feat: rename and polish pipecraft-example-basic
  examples/pipecraft-example-basic/.github/actions/calculate-version/action.yml
  examples/pipecraft-example-basic/.github/actions/create-pr/action.yml
  examples/pipecraft-example-basic/.github/actions/create-release/action.yml
  examples/pipecraft-example-basic/.github/actions/create-tag/action.yml
  examples/pipecraft-example-basic/.github/actions/detect-changes/action.yml
  examples/pipecraft-example-basic/.github/actions/manage-branch/action.yml
  examples/pipecraft-example-basic/.github/actions/promote-branch/action.yml
  examples/pipecraft-example-basic/.github/workflows/enforce-pr-target.yml
  examples/pipecraft-example-basic/.github/workflows/pipeline.yml
  examples/pipecraft-example-basic/.github/workflows/pr-title-check.yml
  examples/pipecraft-example-basic/.gitignore
  examples/pipecraft-example-basic/.pipecraftrc.json
  examples/pipecraft-example-basic/.release-it.cjs
  examples/pipecraft-example-basic/README.md
  examples/pipecraft-example-basic/build.js
  examples/pipecraft-example-basic/lint.js
  examples/pipecraft-example-basic/package.json
  examples/pipecraft-example-basic/src/api/app.js
  examples/pipecraft-example-basic/src/backend/server.js
  examples/pipecraft-example-basic/src/frontend/index.js
  examples/pipecraft-example-basic/src/shared/utils.js
  examples/pipecraft-example-basic/test-runner.js
Due: none

feat: create pipecraft-example-gated repository
  examples/pipecraft-example-gated/.gitignore
  examples/pipecraft-example-gated/.pipecraftrc.json
  examples/pipecraft-example-gated/README.md
  examples/pipecraft-example-gated/api/gateway.js
  examples/pipecraft-example-gated/build.js
  examples/pipecraft-example-gated/lint.js
  examples/pipecraft-example-gated/package.json
  examples/pipecraft-example-gated/services/auth-service.js
  examples/pipecraft-example-gated/shared/utils.js
  examples/pipecraft-example-gated/test-runner.js
  examples/pipecraft-example-gated/web/admin-portal.js
Due: none

docs: create comprehensive examples overview
  examples/README.md
Due: none
