Repository jamesvillarrubia/pipecraft: changes, and which Codecov flags are due for each by the changed paths.
All: Utils, Workflow Templates, Generators, CLI

feat: add interactive config builder widget to docs (#232)
  docs/docusaurus.config.ts
  docs/src/components/ConfigBuilder/ConfigBuilder.tsx
  docs/src/components/ConfigBuilder/index.tsx
  docs/src/components/ConfigBuilder/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/config-builder.tsx
  docs/static/widget/pipecraft-widget.js
Due: none

cicd:re-enables tests
  .github/actions/calculate-version/action.yml
  .github/actions/create-pr/action.yml
  .github/actions/create-release/action.yml
  .github/actions/create-tag/action.yml
  .github/actions/detect-changes/README.md
  .github/actions/detect-changes/action.yml
  .github/actions/manage-branch/action.yml
  .github/actions/promote-branch/action.yml
  .github/workflows/pipeline.yml
Due: none

fix(templates): preserve run_number through workflow dispatch
  .github/workflows/pipeline.yml
  .github/workflows/pr-title-check.yml
  .pipecraftrc
  .release-it.cjs
  src/templates/workflows/shared/operations-tag-promote.ts
Due: Workflow Templates

feat: add gate job and domain prefixes support
  .github/actions/docs-smoke-test/action.yml
  .github/workflows/pipeline.yml
  .pipecraftrc
  docs/docusaurus.config.ts
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  examples/pipeCraft-generation-behavior.md
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/templates/workflows/shared/index.ts
  src/templates/workflows/shared/operations-domain-jobs.ts
  src/templates/workflows/shared/operations-gate.ts
  src/templates/workflows/shared/operations-tag-promote.ts
  src/types/index.ts
Due: Workflow Templates

fix: eslint regex spacing issues
  .github/actions/calculate-version/action.yml
  .github/actions/create-pr/action.yml
  .github/actions/create-release/action.yml
  .github/actions/create-tag/action.yml
  .github/actions/detect-changes/action.yml
  .github/actions/manage-branch/action.yml
  .github/actions/promote-branch/action.yml
  src/templates/workflows/pipeline.yml.tpl.ts
Due: Workflow Templates

style: run prettier
  docs/src/components/ConfigBuilder/ConfigBuilder.tsx
  docs/src/components/ConfigBuilder/index.tsx
  docs/src/components/ConfigBuilder/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/config-builder.tsx
  docs/static/widget/pipecraft-widget.js
  examples/pipeCraft-generation-behavior.md
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/templates/workflows/shared/operations-tag-promote.ts
Due: Workflow Templates

fix(tests): fix domain description and test parsing issues
  src/generators/init.tpl.ts
  src/utils/preflight.ts
  tests/integration/generators.test.ts
  tests/unit/preflight.test.ts
Due: Utils, Generators

feat: add gate job and domain prefixes support (#236)
  .github/actions/detect-changes/README.md
  .github/actions/detect-changes/action.yml
  .github/actions/docs-smoke-test/action.yml
  .github/actions/promote-branch/action.yml
  .github/workflows/pipeline.yml
  .github/workflows/pr-title-check.yml
  .pipecraftrc
  .release-it.cjs
  docs/docusaurus.config.ts
  docs/src/components/ConfigBuilder/ConfigBuilder.tsx
  docs/src/components/ConfigBuilder/index.tsx
  docs/src/components/ConfigBuilder/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/config-builder.tsx
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/static/widget/pipecraft-widget.js
  examples/pipeCraft-generation-behavior.md
  src/generators/init.tpl.ts
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/templates/workflows/shared/index.ts
  src/templates/workflows/shared/operations-domain-jobs.ts
  src/templates/workflows/shared/operations-gate.ts
  src/templates/workflows/shared/operations-tag-promote.ts
  src/types/index.ts
  src/utils/preflight.ts
  tests/integration/generators.test.ts
  tests/unit/preflight.test.ts
Due: Utils, Workflow Templates, Generators

fix(templates): preserve custom jobs in force mode
  src/templates/workflows/pipeline.yml.tpl.ts
Due: Workflow Templates

fix(tests): update tests for new detect-changes architecture
  tests/e2e/complete-trunk-flow.test.ts
  tests/integration/workflow-generation.test.ts
  tests/unit/cli.test.ts
Due: none

fix(actions): add git config to manage-branch and promote-branch actions
  .github/actions/manage-branch/action.yml
  .github/actions/promote-branch/action.yml
Due: none

fix: complete test suite - all 434 tests passing (#238)
  .github/actions/detect-changes/README.md
  .github/actions/detect-changes/action.yml
  .github/actions/docs-smoke-test/action.yml
  .github/actions/manage-branch/action.yml
  .github/actions/promote-branch/action.yml
  .github/workflows/pipeline.yml
  .github/workflows/pr-title-check.yml
  .pipecraftrc
  .release-it.cjs
  docs/docusaurus.config.ts
  docs/src/components/ConfigBuilder/ConfigBuilder.tsx
  docs/src/components/ConfigBuilder/index.tsx
  docs/src/components/ConfigBuilder/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/config-builder.tsx
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/static/widget/pipecraft-widget.js
  examples/pipeCraft-generation-behavior.md
  src/generators/init.tpl.ts
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/templates/workflows/shared/index.ts
  src/templates/workflows/shared/operations-domain-jobs.ts
  src/templates/workflows/shared/operations-gate.ts
  src/templates/workflows/shared/operations-tag-promote.ts
  src/types/index.ts
  src/utils/preflight.ts
  tests/e2e/complete-trunk-flow.test.ts
  tests/integration/generators.test.ts
  tests/integration/workflow-generation.test.ts
  tests/unit/cli.test.ts
  tests/unit/preflight.test.ts
Due: Utils, Workflow Templates, Generators

feat: display release version badge on docs homepage
  .github/actions/docs-smoke-test/action.yml
  .github/workflows/pipeline.yml
  docs/docusaurus.config.ts
Due: none

refactor: move version badge to footer and improve smoke test
  .github/actions/docs-smoke-test/action.yml
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
Due: none

fix: make changelog check optional in docs smoke test
  .github/actions/docs-smoke-test/action.yml
Due: none

style: run prettier to fix formatting
  docs/docusaurus.config.ts
Due: none

feat: display release version badge on docs homepage (#241)
  .github/actions/docs-smoke-test/action.yml
  .github/workflows/pipeline.yml
  docs/docusaurus.config.ts
  docs/src/pages/index.tsx
Due: none

fix: improve workflow reliability and clarity
  .github/workflows/pipeline.yml
  .github/workflows/publish.yml
Due: none

fix: improve workflow reliability and clarity (#243)
  .github/workflows/pipeline.yml
  .github/workflows/publish.yml
Due: none

feat: display release version badge on docs homepage
  docs/docusaurus.config.ts
Due: none

refactor: move version badge to footer and improve smoke test
  .github/actions/docs-smoke-test/action.yml
Due: none

style: fix prettier formatting in docs-index.md
  docs/docs/docs-index.md
Due: none

docs: update README example to use YAML format
  README.md
Due: none

docs: update README example to use YAML format (#249)
  README.md
Due: none

fix: update action reference organization to the-craftlab
  src/types/index.ts
  src/utils/action-reference.ts
Due: Utils

Potential fix for pull request finding 'Unused variable, import, function or class'
  src/templates/workflows/pipeline.yml.tpl.ts
Due: Workflow Templates

feat(actions): prepare calculate-version for marketplace publication
  .github/actions/calculate-version/README.md
  .github/actions/calculate-version/action.yml
  actions/calculate-version/README.md
Due: none

feat(actions): prepare promote-branch for marketplace publication
  .github/actions/promote-branch/README.md
  .github/actions/promote-branch/action.yml
  .github/workflows/test-promote-branch.yml
Due: none

feat(actions): prepare create-tag for marketplace publication
  .github/actions/create-tag/README.md
  .github/actions/create-tag/action.yml
  .github/workflows/test-create-tag.yml
Due: none

fix: update action reference organization to the-craftlab (#253)
  src/types/index.ts
  src/utils/action-reference.ts
Due: Utils

fix(docs): update Algolia DocSearch credentials
  docs/docusaurus.config.ts
Due: none

fix(docs): add Algolia site verification meta tag
  docs/docusaurus.config.ts
Due: none

Path conditions:
  Utils: any of: src/utils/**
  Workflow Templates: any of: src/templates/workflows/**
  Generators: any of: src/generators/**
  CLI: any of: src/cli/index.ts
