Repository jamesvillarrubia/pipecraft: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Tests, CI/CD

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 75%
        threshold: 2%
    patch:
      default:
        target: 75%

component_management:
  default_rules:
    # Default thresholds inherited by all components
    statuses:
      - type: project
        target: 75%
      - type: patch
        target: 75%

  individual_components:
    # Core domain - main source code
    - component_id: core
      name: "Core"
      paths:
        - src/**
      flag_regexes:
        - ^core$

    # Test domain - test infrastructure
    - component_id: test
      name: "Tests"
      paths:
        - tests/**
      flag_regexes:
        - ^test$

    # CI/CD domain - GitHub Actions and pipeline
    - component_id: cicd
      name: "CI/CD"
      paths:
        - .github/**
      flag_regexes:
        - ^cicd$

comment:
  layout: "reach,diff,flags,components"
  show_carryforward_flags: false
  after_n_builds: 1

fix(promote-branch): add run_number input and pass through to downstream workflows
  src/templates/actions/promote-branch.yml.tpl.ts
Due: Core

fix(release): prevent release job from running when version is empty
  .github/workflows/pipeline.yml
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
  tests/integration/path-based-template.test.ts
  tests/unit/pipeline-path-based.test.ts
Due: Core, Tests, CI/CD

fix(ci): remove invalid github-pages environment from deploy-docs job
  .github/actions/detect-changes/action.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/pipeline.yml
  .pipecraftrc.json
  docs-site/docs/readme.md
Due: CI/CD

fix(ci): add git config to manage-branch and promote-branch actions
  .github/actions/manage-branch/action.yml
  .github/actions/promote-branch/action.yml
Due: CI/CD

fix(ci): prevent remote-test and promote from running when tests fail
  .github/workflows/pipeline.yml
Due: CI/CD

fix: removes test domain from spec bc it was fake
  .github/workflows/pipeline.yml
  .github/workflows/publish.yml
  .pipecraftrc.json
  docs-site/docs/api/README.md
  docs-site/docs/api/cli.md
  docs-site/docs/api/generators/init.tpl.md
  docs-site/docs/api/generators/workflows.tpl.md
  docs-site/docs/api/templates/actions/calculate-version.yml.tpl.md
  docs-site/docs/api/templates/actions/create-pr.yml.tpl.md
  docs-site/docs/api/templates/actions/create-tag.yml.tpl.md
  docs-site/docs/api/templates/actions/detect-changes.yml.tpl.md
  docs-site/docs/api/templates/actions/manage-branch.yml.tpl.md
  docs-site/docs/api/templates/actions/promote-branch.yml.tpl.md
  docs-site/docs/api/templates/workflows/pipeline-path-based.yml.tpl.md
  docs-site/docs/api/types.md
  docs-site/docs/api/utils/ast-path-operations.md
  docs-site/docs/api/utils/config.md
  docs-site/docs/api/utils/github-setup.md
  docs-site/docs/api/utils/idempotency.md
  docs-site/docs/api/utils/logger.md
  docs-site/docs/api/utils/preflight.md
  docs-site/docs/api/utils/versioning.md
  docs-site/package.json
  docs-site/pnpm-lock.yaml
  docs-site/typedoc.json
  src/types/index.ts
Due: Core, CI/CD

chore(docs): regenerate API documentation with MDX-safe formatting
  docs-site/docs/api/generators/init.tpl.md
  docs-site/docs/api/generators/workflows.tpl.md
  docs-site/docs/api/templates/actions/calculate-version.yml.tpl.md
  docs-site/docs/api/templates/actions/create-pr.yml.tpl.md
  docs-site/docs/api/templates/actions/create-tag.yml.tpl.md
  docs-site/docs/api/templates/actions/detect-changes.yml.tpl.md
  docs-site/docs/api/templates/actions/manage-branch.yml.tpl.md
  docs-site/docs/api/templates/actions/promote-branch.yml.tpl.md
  docs-site/docs/api/templates/workflows/pipeline-path-based.yml.tpl.md
  docs-site/docs/api/types.md
  docs-site/docs/api/utils/ast-path-operations.md
  docs-site/docs/api/utils/config.md
  docs-site/docs/api/utils/github-setup.md
  docs-site/docs/api/utils/idempotency.md
  docs-site/docs/api/utils/logger.md
  docs-site/docs/api/utils/preflight.md
  docs-site/docs/api/utils/versioning.md
Due: none

fix(ci): restore environment block required by deploy-pages action
  .github/workflows/pipeline.yml
Due: CI/CD

fix: add more changes.
  docs/docusaurus.config.ts
  docs/package.json
Due: none

fix(docs): resolve broken links in Docusaurus site
  docs/docs/api/README.md
  docs/docs/api/cli.md
  docs/docs/api/generators/init.tpl.md
  docs/docs/api/generators/workflows.tpl.md
  docs/docs/api/templates/actions/calculate-version.yml.tpl.md
  docs/docs/api/templates/actions/create-pr.yml.tpl.md
  docs/docs/api/templates/actions/create-tag.yml.tpl.md
  docs/docs/api/templates/actions/detect-changes.yml.tpl.md
  docs/docs/api/templates/actions/manage-branch.yml.tpl.md
  docs/docs/api/templates/actions/promote-branch.yml.tpl.md
  docs/docs/api/templates/workflows/pipeline-path-based.yml.tpl.md
  docs/docs/api/types.md
  docs/docs/api/utils/ast-path-operations.md
  docs/docs/api/utils/config.md
  docs/docs/api/utils/github-setup.md
  docs/docs/api/utils/idempotency.md
  docs/docs/api/utils/logger.md
  docs/docs/api/utils/preflight.md
  docs/docs/api/utils/versioning.md
  docs/docs/docs-index.md
  docs/typedoc.json
Due: none

chore(scripts): update validate:pipeline script path to reflect new location
  package.json
Due: none

fix(ci): correct docs directory path from docs-site to docs
  .github/workflows/pipeline.yml
Due: CI/CD

test: add comment to verify branch protection rules
  src/utils/logger.ts
Due: Core

fix: add comment to verify branch protection rules (#94)
  src/utils/logger.ts
Due: Core

feat(ci): add run_number tracking and improve PR titles in promote action
  .github/actions/promote-branch/action.yml
Due: CI/CD

refactor: remove unused actions config parameter from codebase
  .claude/settings.local.json
  .github/actions/detect-changes/action.yml
  .github/actions/manage-branch/action.yml
  .github/actions/promote-branch/action.yml
  .pipecraftrc.json
  README.md
  docs/docs/api/types.md
  docs/docs/architecture.md
  docs/docs/readme.md
  docs/docs/trunk-flow.md
  package.json
  src/generators/init.tpl.ts
  src/generators/workflows.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
  src/types/index.ts
  tests/fixtures/basic-config.json
  tests/fixtures/test-config.json
  tests/helpers/fixtures.ts
  tests/integration/path-based-template.test.ts
  tests/integration/simple-path-based.test.ts
  tests/unit/cli.test.ts
  tests/unit/config-extended.test.ts
  tests/unit/idempotency-isolated.test.ts
  tests/unit/init-generator.test.ts
  tests/unit/versioning-extended.test.ts
Due: Core, Tests, CI/CD

fix(ci): correct YAML formatting in detect-changes action
  .github/actions/detect-changes/action.yml
Due: CI/CD

fix(ci): restore git config in manage-branch and promote-branch actions
  .github/actions/manage-branch/action.yml
  .github/actions/promote-branch/action.yml
Due: CI/CD

feat: Enhance GitHub Actions promotion with run number tracking (#97)
  .claude/settings.local.json
  .github/actions/detect-changes/action.yml
  .github/actions/promote-branch/action.yml
  .pipecraftrc.json
  README.md
  docs/docs/api/types.md
  docs/docs/architecture.md
  docs/docs/readme.md
  docs/docs/trunk-flow.md
  package.json
  src/generators/init.tpl.ts
  src/generators/workflows.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
  src/types/index.ts
  tests/fixtures/basic-config.json
  tests/fixtures/test-config.json
  tests/helpers/fixtures.ts
  tests/integration/path-based-template.test.ts
  tests/integration/simple-path-based.test.ts
  tests/unit/cli.test.ts
  tests/unit/config-extended.test.ts
  tests/unit/idempotency-isolated.test.ts
  tests/unit/init-generator.test.ts
  tests/unit/versioning-extended.test.ts
Due: Core, Tests, CI/CD

fix(ci): correct regex pattern in calculate-version to detect existing tags
  .github/actions/calculate-version/action.yml
Due: CI/CD

fix(ci): correct regex pattern in calculate-version to detect existing tags (#100)
  .github/actions/calculate-version/action.yml
Due: CI/CD

fix(templates): correct regex pattern in calculate-version template
  src/templates/actions/calculate-version.yml.tpl.ts
Due: Core

fix(templates): correct regex pattern in calculate-version template (#103)
  src/templates/actions/calculate-version.yml.tpl.ts
Due: Core

feat: add create-release action template generator
  src/generators/workflows.tpl.ts
  src/templates/actions/create-release.yml.tpl.ts
Due: Core

fix: trigger publish workflow after release creation
  .github/actions/create-release/action.yml
  src/templates/actions/create-release.yml.tpl.ts
Due: Core, CI/CD

feat: add Codecov integration to test pipeline
  .github/workflows/pipeline.yml
Due: CI/CD

test: update comment to trigger CI coverage test
  src/utils/logger.ts
Due: Core

chore: lower coverage threshold to 60% with improvement plan
  vitest.config.ts
Due: none

docs: add Codecov integration and coverage improvement plan to roadmap
  ROADMAP_PLANNING_SESSION.md
Due: none

fix: pass explicit commit SHA to workflow_dispatch to prevent stale checkouts
  .github/actions/promote-branch/action.yml
  .github/workflows/pipeline.yml
  src/templates/actions/promote-branch.yml.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
Due: Core, CI/CD

additional changes
  .claude/settings.local.json
  .github/scripts/fastforward.sh
Due: CI/CD

fix: remove duplicate pull_request_target trigger from PR title check
  .github/workflows/pr-title-check.yml
Due: CI/CD

feat: add Codecov integration to test pipeline (#107)
  .claude/settings.local.json
  .github/actions/promote-branch/action.yml
  .github/scripts/fastforward.sh
  .github/workflows/pipeline.yml
  .github/workflows/pr-title-check.yml
  ROADMAP_PLANNING_SESSION.md
  src/templates/actions/promote-branch.yml.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
  src/utils/logger.ts
  vitest.config.ts
Due: Core, CI/CD

fix: prevent version race condition by using commitSha in calculate-version
  .github/actions/calculate-version/action.yml
  .github/workflows/pipeline.yml
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
Due: Core, CI/CD

feat: add 5-second delay before triggering workflow after branch push
  .github/actions/promote-branch/action.yml
  src/templates/actions/promote-branch.yml.tpl.ts
Due: Core, CI/CD

fix: prevent version race condition by using commitSha in calculate-version (#110)
  .github/actions/calculate-version/action.yml
  .github/actions/promote-branch/action.yml
  .github/workflows/pipeline.yml
  src/templates/actions/promote-branch.yml.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
Due: Core, CI/CD

fix: skip tag job gracefully when no version is calculated
  .github/workflows/pipeline.yml
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
Due: Core, CI/CD

add gitignore for settings
  .gitignore
Due: none
