Repository jamesvillarrubia/pipecraft: changes, and which Codecov flags are due for each by the changed paths.
All: Core, Tests, CI/CD

chore: remove settings.local.json from git tracking
  .claude/settings.local.json
Due: none

fix: align Codecov thresholds with vitest config (60%)
  codecov.yml
Due: none

refactor: improve Codecov configuration with better exclusions and components
  codecov.yml
Due: none

fix: skip tag job gracefully when no version is calculated (#111)
  .claude/settings.local.json
  .github/workflows/pipeline.yml
  .gitignore
  codecov.yml
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
Due: Core, CI/CD

chore: remove orphaned planning and documentation files
  .jsdoc-actions-batch.md
  ROADMAP_PLANNING_SESSION.md
  SESSION_COMPLETION_SUMMARY.md
  TESTING_GUIDE.md
  TRUNK_FLOW_PLAN.md
Due: none

chore: remove orphaned planning and documentation files (#114)
  .jsdoc-actions-batch.md
  ROADMAP_PLANNING_SESSION.md
  SESSION_COMPLETION_SUMMARY.md
  TESTING_GUIDE.md
  TRUNK_FLOW_PLAN.md
Due: none

feat: add comprehensive GitHub repository settings configuration
  src/generators/init.tpl.ts
  src/utils/github-setup.ts
Due: Core

test: add comprehensive test coverage for repository settings
  tests/unit/github-setup.test.ts
Due: Tests

test: add additional coverage for branch protection and merge settings
  tests/unit/github-setup.test.ts
Due: Tests

feat: add comprehensive GitHub repository settings configuration (#115)
  src/generators/init.tpl.ts
  src/utils/github-setup.ts
  tests/unit/github-setup.test.ts
Due: Core, Tests

feat(docs): configure custom domain pipecraft.thecraftlab.dev
  docs/CNAME
  docs/docusaurus.config.ts
Due: none

fix the chore to be a patch.
  .release-it.cjs
Due: none

remove CNAME file
  docs/CNAME
Due: none

fix: removes the promotion for non-versioned commits
  .github/workflows/pipeline.yml
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
Due: Core, CI/CD

fix: ensure release-it runs on branch not detached HEAD
  .github/actions/calculate-version/action.yml
  src/templates/actions/calculate-version.yml.tpl.ts
Due: Core, CI/CD

fix: critical versioning bugs - detached HEAD and promotion logic (#119)
  .github/actions/calculate-version/action.yml
  .github/workflows/pipeline.yml
  src/templates/actions/calculate-version.yml.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
Due: Core, CI/CD

fix: correct publish workflow detection in create-release action
  .github/actions/create-release/action.yml
  src/templates/actions/create-release.yml.tpl.ts
Due: Core, CI/CD

fix: correct publish workflow detection in create-release action (#122)
  .github/actions/create-release/action.yml
  src/templates/actions/create-release.yml.tpl.ts
Due: Core, CI/CD

fix: update publish workflow to use pnpm instead of npm
  .github/workflows/publish.yml
Due: CI/CD

feat: add version to publish workflow run name
  .github/workflows/publish.yml
Due: CI/CD

fix: add explicit NODE_AUTH_TOKEN for npm publish
  .github/workflows/publish.yml
Due: CI/CD

fix: use npm directly for publish to fix OIDC authentication
  .github/workflows/publish.yml
Due: CI/CD

refactor: use npm pkg set for version update
  .github/workflows/publish.yml
Due: CI/CD

fix: add NODE_AUTH_TOKEN env var for npm authentication
  .github/workflows/publish.yml
Due: CI/CD

debug: add npm config debugging to diagnose OIDC auth issue
  .github/workflows/publish.yml
Due: CI/CD

fix: remove NODE_AUTH_TOKEN - must use OIDC only
  .github/workflows/publish.yml
Due: CI/CD

debug: add verbose npm logging to diagnose OIDC authentication
  .github/workflows/publish.yml
Due: CI/CD

debug: add OIDC context debugging
  .github/workflows/publish.yml
Due: CI/CD

debug: test OIDC auth without provenance and check for 403 errors
  .github/workflows/publish.yml
  package.json
Due: CI/CD

fix: configure publish workflow for OIDC authentication
  .github/workflows/publish.yml
Due: CI/CD

fix: simplify publish workflow for OIDC
  .github/workflows/publish.yml
Due: CI/CD

fix: remove registry-url from setup-node for OIDC
  .github/workflows/publish.yml
Due: CI/CD

feat: add npm authentication setup to publish workflow
  .github/workflows/publish.yml
Due: CI/CD

fix: use simple npm publish with provenance
  .github/workflows/publish.yml
Due: CI/CD

feat: upgrade npm to latest version before publishing
  .github/workflows/publish.yml
Due: CI/CD

debug: verify repository URL before publish
  .github/workflows/publish.yml
Due: CI/CD

feat: update to Node 24 and pnpm latest
  .github/workflows/publish.yml
Due: CI/CD

debug: check package.json repository field before and after npm pkg set
  .github/workflows/publish.yml
Due: CI/CD

Path conditions:
  Core: any of: src/**
  Tests: any of: tests/**
  CI/CD: any of: .github/**
