Repository jamesvillarrubia/pipecraft: changes, and which Codecov flags are due for each by the changed paths.
All: Utils, Workflow Templates, Generators, CLI

fix(docs): add CNAME and trailingSlash config for custom domain
  docs/docusaurus.config.ts
  docs/static/CNAME
Due: none

fix(generate): single-branch flow no longer rejects every PR
  .pipecraft-schema.json
  actions/promote-branch/action.yml
  docs/docs/flows/trunk-flow.md
  src/generators/workflows.tpl.ts
  src/templates/actions/promote-branch.yml.tpl.ts
  src/templates/workflows/enforce-pr-target.yml.tpl.ts
  src/types/index.ts
  src/utils/versioning.ts
  tests/integration/single-branch-flow.test.ts
  tests/unit/promote-branch-guard.test.ts
  tests/unit/versioning-bump-rules.test.ts
  tests/unit/versioning.test.ts
Due: Utils, Workflow Templates, Generators

docs: add CLAUDE.md and MISTAKES.md
  CLAUDE.md
  MISTAKES.md
Due: none

test: cover the single-branch generator branch in-process
  tests/integration/single-branch-flow.test.ts
Due: none

fix(generate): repair enforce-pr-target instead of deleting it
  .github/workflows/enforce-pr-target.yml
  src/generators/workflows.tpl.ts
  src/templates/workflows/enforce-pr-target.yml.tpl.ts
  tests/integration/single-branch-flow.test.ts
Due: Workflow Templates, Generators

fix(generate): pr-title-check picks up new commit types
  CLAUDE.md
  MISTAKES.md
  src/templates/workflows/pr-title-check.yml.tpl.ts
  tests/integration/regenerate-managed-workflows.test.ts
  tests/unit/job-order.test.ts
Due: Workflow Templates

refactor: drop unused majorTypesPattern from pr-title-check template
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

fix: single-branch flow no longer rejects every PR (#486)
  .github/workflows/enforce-pr-target.yml
  .pipecraft-schema.json
  CLAUDE.md
  MISTAKES.md
  actions/promote-branch/action.yml
  docs/docs/flows/trunk-flow.md
  src/generators/workflows.tpl.ts
  src/templates/actions/promote-branch.yml.tpl.ts
  src/templates/workflows/enforce-pr-target.yml.tpl.ts
  src/templates/workflows/pr-title-check.yml.tpl.ts
  src/types/index.ts
  src/utils/versioning.ts
  tests/integration/regenerate-managed-workflows.test.ts
  tests/integration/single-branch-flow.test.ts
  tests/unit/job-order.test.ts
  tests/unit/promote-branch-guard.test.ts
  tests/unit/versioning-bump-rules.test.ts
  tests/unit/versioning.test.ts
Due: Utils, Workflow Templates, Generators

fix(generate): label enforce-pr-target and pr-title-check as managed
  .github/workflows/enforce-pr-target.yml
  .github/workflows/pr-title-check.yml
  src/templates/workflows/enforce-pr-target.yml.tpl.ts
  src/templates/workflows/pr-title-check.yml.tpl.ts
  src/templates/workflows/shared/fully-managed-header.ts
  tests/integration/regenerate-managed-workflows.test.ts
Due: Workflow Templates

fix: label enforce-pr-target and pr-title-check as managed (#489)
  .github/workflows/enforce-pr-target.yml
  .github/workflows/pr-title-check.yml
  src/templates/workflows/enforce-pr-target.yml.tpl.ts
  src/templates/workflows/pr-title-check.yml.tpl.ts
  src/templates/workflows/shared/fully-managed-header.ts
  tests/integration/regenerate-managed-workflows.test.ts
Due: Workflow Templates

docs: log the generateReleaseItConfig rewrite that missed #287
  CLAUDE.md
  MISTAKES.md
Due: none

docs: log the generateReleaseItConfig rewrite that missed #287 (#492)
  CLAUDE.md
  MISTAKES.md
Due: none

fix(release-it): no Infinity bump level, and config beats the preset
  .gitignore
  CLAUDE.md
  MISTAKES.md
  src/templates/release-it.cjs.tpl.ts
  src/utils/versioning.ts
  tests/integration/release-it-config-parity.test.ts
Due: Utils

fix(release-it): no Infinity bump level, and config beats the preset (#495)
  .gitignore
  CLAUDE.md
  MISTAKES.md
  src/templates/release-it.cjs.tpl.ts
  src/utils/versioning.ts
  tests/integration/release-it-config-parity.test.ts
Due: Utils

fix(config): deprecated domain flags generate jobs again
  .pipecraft-schema.json
  docs/docs/cli-reference.md
  docs/docs/configuration-reference.md
  docs/docs/faq.md
  src/types/index.ts
  src/utils/config.ts
  tests/helpers/fixtures.ts
  tests/integration/domain-legacy-flags.test.ts
Due: Utils

fix(config): deprecated domain flags generate jobs again (#500)
  .pipecraft-schema.json
  docs/docs/cli-reference.md
  docs/docs/configuration-reference.md
  docs/docs/faq.md
  src/types/index.ts
  src/utils/config.ts
  tests/helpers/fixtures.ts
  tests/integration/domain-legacy-flags.test.ts
Due: Utils

feat(cli): dry-run reports what it would do; drop dead --clean flag
  docs/docs/commands.md
  docs/docs/intro.md
  src/cli/index.ts
  tests/integration/generate-dry-run.test.ts
Due: CLI

feat(cli): dry-run reports what it would do; drop dead --clean flag (#503)
  docs/docs/commands.md
  docs/docs/intro.md
  src/cli/index.ts
  tests/integration/generate-dry-run.test.ts
Due: CLI

fix(init): honour flags, run without a TTY, and emit a valid branchFlow
  docs/docs/commands.md
  src/cli/index.ts
  src/generators/init.tpl.ts
  src/generators/workflows.tpl.ts
  tests/integration/generate-dry-run.test.ts
  tests/integration/init-non-interactive.test.ts
Due: Generators, CLI

fix(init): honour flags, run without a TTY, and emit a valid branchFlow (#507)
  docs/docs/commands.md
  src/cli/index.ts
  src/generators/init.tpl.ts
  src/generators/workflows.tpl.ts
  tests/integration/generate-dry-run.test.ts
  tests/integration/init-non-interactive.test.ts
Due: Generators, CLI

perf(version): fetch tags without blobs; document checkout depth
  docs/docs/configuration-reference.md
  src/templates/workflows/shared/operations-version.ts
  tests/integration/checkout-efficiency.test.ts
  tests/snapshots/__snapshots__/workflow-snapshots.test.ts.snap
Due: Workflow Templates

perf(version): fetch tags without blobs; document checkout depth (#510)
  docs/docs/configuration-reference.md
  src/templates/workflows/shared/operations-version.ts
  tests/integration/checkout-efficiency.test.ts
  tests/snapshots/__snapshots__/workflow-snapshots.test.ts.snap
Due: Workflow Templates

fix(config): packageManager reaches the placeholder; drop version stubs
  docs/docs/commands.md
  docs/docs/configuration-reference.md
  docs/docs/readme.md
  docs/docs/version-management.md
  src/cli/index.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  tests/integration/package-manager.test.ts
Due: Workflow Templates, CLI

fix(config): packageManager reaches the placeholder; drop version stubs (#513)
  docs/docs/commands.md
  docs/docs/configuration-reference.md
  docs/docs/readme.md
  docs/docs/version-management.md
  src/cli/index.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  tests/integration/package-manager.test.ts
Due: Workflow Templates, CLI

fix(setup): create branches without checking them out
  docs/docs/commands.md
  src/cli/index.ts
  tests/integration/setup-branches.test.ts
Due: CLI

fix(setup): create branches without checking them out (#516)
  docs/docs/commands.md
  src/cli/index.ts
  tests/integration/setup-branches.test.ts
Due: CLI

refactor(release-it): one builder for both callers
  CLAUDE.md
  src/templates/release-it.cjs.tpl.ts
  src/utils/release-it-config.ts
  src/utils/versioning.ts
  tests/fixtures/release-it-golden.cjs
  tests/integration/release-it-unified.test.ts
Due: Utils

refactor(release-it): one builder for both callers (#519)
  CLAUDE.md
  src/templates/release-it.cjs.tpl.ts
  src/utils/release-it-config.ts
  src/utils/versioning.ts
  tests/fixtures/release-it-golden.cjs
  tests/integration/release-it-unified.test.ts
Due: Utils

feat(promote): only GitHub-authored commits tag and promote
  CLAUDE.md
  docs/docs/security.md
  scripts/e2e/harness.ts
  src/templates/workflows/shared/operations-tag-promote.ts
  tests/integration/promotion-source-gate.test.ts
  tests/snapshots/__snapshots__/workflow-snapshots.test.ts.snap
Due: Workflow Templates

feat(promote): only GitHub-authored commits tag and promote (#522)
  CLAUDE.md
  docs/docs/security.md
  scripts/e2e/harness.ts
  src/templates/workflows/shared/operations-tag-promote.ts
  tests/integration/promotion-source-gate.test.ts
  tests/snapshots/__snapshots__/workflow-snapshots.test.ts.snap
Due: Workflow Templates

test(config): fail the build when a config key is read by nothing
  CLAUDE.md
  tests/unit/config-key-coverage.test.ts
Due: none

test(config): fail the build when a config key is read by nothing (#529)
  CLAUDE.md
  tests/unit/config-key-coverage.test.ts
Due: none

docs: add AGENTS.md and an upgrading page
  AGENTS.md
  docs/docs/upgrading.md
  docs/sidebars.ts
Due: none

docs: add AGENTS.md and an upgrading page (#531)
  AGENTS.md
  docs/docs/upgrading.md
  docs/sidebars.ts
Due: none

fix(init): give generated domains a prefixes array
  src/generators/init.tpl.ts
  tests/integration/init-domain-prefixes.test.ts
Due: Generators

fix(init): give generated domains a prefixes array (#534)
  src/generators/init.tpl.ts
  tests/integration/init-domain-prefixes.test.ts
Due: Generators

docs(readme): lead with what Pipecraft decides, not badges
  README.md
Due: none

docs(readme): lead with what Pipecraft decides, not badges (#537)
  README.md
Due: none

docs: record the stale-checkout trap
  CLAUDE.md
  MISTAKES.md
Due: none

docs: record the stale-checkout trap (#542)
  CLAUDE.md
  MISTAKES.md
Due: none

Path conditions:
  Utils: any of: src/utils/**
  Workflow Templates: any of: src/templates/workflows/**
  Generators: any of: src/generators/**
  CLI: any of: src/cli/index.ts
