Repository jamesvillarrubia/pipecraft: changes, and which Codecov flags are due for each by the changed paths.
All: Utils, Workflow Templates, Generators, CLI

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 60%

  # Ignore files that should not be included in coverage
  ignore:
    - "dist/**"
    - "coverage/**"
    - "docs/**"
    - "docs-site/**"
    - "tests/**"
    - "**/*.d.ts"
    - "**/*.config.*"
    - "**/*.test.ts"
    - "**/*.spec.ts"
    - "**/*.tpl.md"
    - ".github/**"
    - "src/templates/actions/**"  # Action templates are YAML, not executable TS

component_management:
  default_rules:
    # Default thresholds inherited by all components
    # Starting at 60%, with goal to gradually increase to 75%+
    statuses:
      - type: project
        target: 60%
      - type: patch
        target: 60%

  individual_components:
    # Core utilities - business logic
    - component_id: utils
      name: "Utils"
      paths:
        - src/utils/**
      flag_regexes:
        - ^core$

    # Workflow templates - pipeline generation
    - component_id: workflows
      name: "Workflow Templates"
      paths:
        - src/templates/workflows/**
      flag_regexes:
        - ^core$

    # Generators - orchestration code
    - component_id: generators
      name: "Generators"
      paths:
        - src/generators/**
      flag_regexes:
        - ^core$

    # CLI entry point
    - component_id: cli
      name: "CLI"
      paths:
        - src/cli/index.ts
      flag_regexes:
        - ^core$

comment:
  layout: "reach,diff,flags,components"
  show_carryforward_flags: false
  after_n_builds: 1

docs: add example repositories section to main README
  README.md
Due: none

docs: add live example repository links to examples page
  docs/docs/examples.md
Due: none

docs: add comprehensive publication plan for example repositories
  examples/PUBLICATION-PLAN.md
Due: none

feat: add packageManager configuration with auto-detection
  docs/docs/cli-reference.md
  docs/docs/configuration-reference.md
  docs/docs/nx-integration.md
  package.json
  pnpm-lock.yaml
  src/generators/init.tpl.ts
  src/generators/workflows.tpl.ts
  src/templates/actions/detect-changes-nx.yml.tpl.ts
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/types/index.ts
Due: Workflow Templates, Generators

feat: add packageManager configuration with auto-detection (#167)
  docs/docs/cli-reference.md
  docs/docs/configuration-reference.md
  docs/docs/nx-integration.md
  package.json
  pnpm-lock.yaml
  src/generators/init.tpl.ts
  src/generators/workflows.tpl.ts
  src/templates/actions/detect-changes-nx.yml.tpl.ts
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/types/index.ts
Due: Workflow Templates, Generators

fix: broken docs link and add docs build test
  .github/workflows/pipeline.yml
  docs/docs/nx-integration.md
Due: none

docs: improve language and tone in configuration and intro docs
  docs/docs/configuration-reference.md
  docs/docs/intro.md
Due: none

docs: improve language and tone in configuration and intro docs (#174)
  docs/docs/configuration-reference.md
  docs/docs/intro.md
Due: none

fix(docs): correct intro documentation to match actual init behavior
  docs/docs/intro.md
Due: none

feat(init): add domain selection prompt with common patterns and custom option
  docs/docs/intro.md
  src/generators/init.tpl.ts
Due: Generators

feat: add comprehensive domain job preservation tests
  docs/docs/intro.md
Due: none

fix(workflows): ensure remote test jobs only run after successful deployment
  src/templates/workflows/shared/operations-domain-jobs.ts
Due: Workflow Templates

fix(docs): correct intro documentation to match actual init behavior (#177)
  docs/docs/intro.md
  src/generators/init.tpl.ts
  src/templates/workflows/shared/operations-domain-jobs.ts
Due: Workflow Templates, Generators

docs: add expedition improvements plan
  IMPROVEMENT_PLAN.md
Due: none

feat(p0): add environment variables for workflow configuration
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/shared/operations-changes.ts
  src/templates/workflows/shared/operations-header.ts
  src/templates/workflows/shared/operations-tag-promote.ts
  src/templates/workflows/shared/operations-version.ts
Due: Workflow Templates

feat(p0): add runtime version inputs to actions
  src/templates/actions/calculate-version.yml.tpl.ts
  src/templates/actions/detect-changes.yml.tpl.ts
  src/templates/actions/run-nx-affected.yml.tpl.ts
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/shared/operations-changes.ts
  src/templates/workflows/shared/operations-version.ts
Due: Workflow Templates

feat(p1): add workflow intelligence features
  src/templates/actions/run-nx-affected.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
Due: Workflow Templates

refactor: remove idempotency system
  src/cli/index.ts
  src/utils/idempotency.ts
  tests/unit/error-handling.test.ts
  tests/unit/idempotency-isolated.test.ts
Due: Utils, CLI

feat(init): improve initialization and semver configuration
  src/generators/init.tpl.ts
Due: Generators

refactor: remove detect-changes-nx template (merged into detect-changes)
  src/templates/actions/detect-changes-nx.yml.tpl.ts
Due: none

feat(ast): improve YAML formatting and key preservation
  src/utils/ast-path-operations.ts
Due: Utils

feat(templates): enhance config-driven templates and formatting
  src/templates/release-it.cjs.tpl.ts
  src/templates/workflows/pr-title-check.yml.tpl.ts
  src/templates/workflows/shared/operations-domain-jobs.ts
Due: Workflow Templates

refactor(generators): update workflow generator for template changes
  src/generators/workflows.tpl.ts
Due: Generators

test: update tests for refactored code
  tests/integration/generators.test.ts
  tests/unit/cli.test.ts
  tests/unit/init-generator.test.ts
Due: none

chore: regenerate pipecraft workflows with latest templates
  .github/actions/detect-changes/action.yml
  .github/workflows/pipeline.yml
  .github/workflows/pr-title-check.yml
  .gitignore
  .release-it.cjs
Due: none

chore: add _expedition and examples/debug to gitignore
  .gitignore
Due: none

fix(workflows): fix Nx pipeline generation and custom job preservation
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  tests/e2e/complete-trunk-flow.test.ts
  tests/unit/ast-path-operations-extended.test.ts
  tests/unit/pipeline-nx-template.test.ts
Due: Workflow Templates

fix(tests): exclude .js test files in examples directory from vitest
  vitest.config.ts
Due: none

fix(ci): fix YAML syntax error in paths-filter and PR title regex
  .github/actions/detect-changes/action.yml
  .github/workflows/pr-title-check.yml
Due: none

fix(templates): fix YAML and regex issues in template generators
  src/templates/actions/detect-changes.yml.tpl.ts
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

fix(ci): fix shell regex syntax by using variable for pattern
  .github/workflows/pr-title-check.yml
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

fix(ci): replace regex with loop to avoid bash parsing issues
  .github/workflows/pr-title-check.yml
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

fix(ci): use env vars for PR body to handle special characters
  .github/workflows/pr-title-check.yml
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

feat(p0): add environment variables for workflow configuration
  src/templates/workflows/pipeline-nx.yml.tpl.ts
Due: Workflow Templates
