Repository jamesvillarrubia/pipecraft: changes, and which Codecov flags are due for each by the changed paths.
All: Utils, Workflow Templates, Generators, CLI

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 60%

  # Ignore files that should not be included in coverage
  ignore:
    - "dist/**"
    - "coverage/**"
    - "docs/**"
    - "docs-site/**"
    - "tests/**"
    - "**/*.d.ts"
    - "**/*.config.*"
    - "**/*.test.ts"
    - "**/*.spec.ts"
    - "**/*.tpl.md"
    - ".github/**"
    - "src/templates/actions/**"  # Action templates are YAML, not executable TS

component_management:
  default_rules:
    # Default thresholds inherited by all components
    # Starting at 60%, with goal to gradually increase to 75%+
    statuses:
      - type: project
        target: 60%
      - type: patch
        target: 60%

  individual_components:
    # Core utilities - business logic
    - component_id: utils
      name: "Utils"
      paths:
        - src/utils/**
      flag_regexes:
        - ^core$

    # Workflow templates - pipeline generation
    - component_id: workflows
      name: "Workflow Templates"
      paths:
        - src/templates/workflows/**
      flag_regexes:
        - ^core$

    # Generators - orchestration code
    - component_id: generators
      name: "Generators"
      paths:
        - src/generators/**
      flag_regexes:
        - ^core$

    # CLI entry point
    - component_id: cli
      name: "CLI"
      paths:
        - src/cli/index.ts
      flag_regexes:
        - ^core$

comment:
  layout: "reach,diff,flags,components"
  show_carryforward_flags: false
  after_n_builds: 1

feat(p0): add runtime version inputs to actions
  src/templates/actions/run-nx-affected.yml.tpl.ts
  src/templates/workflows/pipeline-nx.yml.tpl.ts
Due: Workflow Templates

feat(p1): add workflow intelligence features
  src/templates/actions/run-nx-affected.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
Due: Workflow Templates

feat(templates): enhance config-driven templates and formatting
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

chore: regenerate pipecraft workflows with latest templates
  .github/actions/detect-changes/action.yml
  .github/workflows/pr-title-check.yml
Due: none

fix(workflows): fix Nx pipeline generation and custom job preservation
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
Due: Workflow Templates

fix(ci): use env vars for PR body to handle special characters
  .github/workflows/pr-title-check.yml
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

feat(config): migrate from JSON to YAML format with comprehensive comments
  .pipecraftrc
  .pipecraftrc.json
  src/cli/index.ts
  src/generators/init.tpl.ts
  src/templates/actions/promote-branch.yml.tpl.ts
  src/templates/workflows/shared/operations-changes.ts
  src/types/index.ts
  src/utils/config.ts
  src/utils/github-setup.ts
  src/utils/preflight.ts
Due: Utils, Workflow Templates, Generators, CLI

fix(ci): replace regex with loop to avoid bash parsing issues
  .github/workflows/pr-title-check.yml
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

fix(ci): fix YAML syntax error in paths-filter and PR title regex
  .github/actions/detect-changes/action.yml
  .github/workflows/pr-title-check.yml
Due: none

fix(ci): fix shell regex syntax by using variable for pattern
  .github/workflows/pr-title-check.yml
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

fix(templates): fix YAML and regex issues in template generators
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

fix(cicd): correct paths-filter configuration in detect-changes action
  .github/actions/detect-changes/action.yml
  src/templates/actions/detect-changes.yml.tpl.ts
Due: none

test: trigger change detection test
  README.md
Due: none

fix(cicd): transform domain config to paths-filter format
  .github/actions/detect-changes/action.yml
  src/templates/actions/detect-changes.yml.tpl.ts
Due: none

fix(cicd): correct paths-filter configuration in detect-changes action (#185)
  .github/actions/detect-changes/action.yml
  README.md
  src/templates/actions/detect-changes.yml.tpl.ts
Due: none

fix(promote): update promote-branch to use .pipecraftrc instead of .pipecraftrc.json
  .github/actions/promote-branch/action.yml
Due: none

feat(actions): decouple promote-branch from config files + fix submodule errors
  .github/actions/promote-branch/action.yml
  DECOUPLING_SUMMARY.md
  docs/DECOUPLING_GUIDE.md
  docs/examples/decoupled-workflow-example.yml
Due: none

docs: add comprehensive fixes summary
  FIXES_SUMMARY.md
Due: none

fix(cicd): resolve YAML parse error and remove ghost submodule
  .github/actions/promote-branch/action.yml
Due: none

clean up legacy code
  .github/example/workflows/job.app.api.deploy.yml
  .github/example/workflows/job.app.api.test.yml
  .github/example/workflows/job.app.docs.deploy.yml
  .github/example/workflows/job.app.docs.test.yml
  .github/example/workflows/job.app.web.deploy.yml
  .github/example/workflows/job.app.web.test.yml
  .github/example/workflows/job.changes.yml
  .github/example/workflows/job.create-pr.yml
  .github/example/workflows/job.env-check.yml
  .github/example/workflows/job.fast-forward.yml
  .github/example/workflows/job.lint.yml
  .github/example/workflows/job.pr-name.yml
  .github/example/workflows/job.pr-squash-name.yml
  .github/example/workflows/job.tag.yml
  .github/example/workflows/job.version.yml
  .github/example/workflows/lib.plugin-base.publish.yml
  .github/example/workflows/pipe.yml
  .github/example/workflows/scripts/fastforward.sh
Due: none

chore(workflows): regenerate workflows after fixing config path mismatch
  .github/actions/promote-branch/action.yml
  .github/workflows/pipeline.yml
  .github/workflows/pr-title-check.yml
  .release-it.cjs
Due: none

deletes the NX action from our base.
  .github/actions/detect-changes-nx/action.yml
Due: none

fix(cicd): replace jq with yq for YAML config parsing
  .github/actions/promote-branch/action.yml
Due: none

fix(cicd): make promote-branch action format-agnostic by accepting inputs
  .github/actions/promote-branch/action.yml
  .github/workflows/pipeline.yml
  src/cli/index.ts
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/templates/workflows/shared/operations-tag-promote.ts
Due: Workflow Templates, CLI

style: format code with prettier
  src/templates/workflows/shared/operations-tag-promote.ts
Due: Workflow Templates

fix(cicd): make promote-branch action format-agnostic (#187)
  .github/workflows/pipeline.yml
  src/cli/index.ts
  src/templates/workflows/pipeline-nx.yml.tpl.ts
  src/templates/workflows/pipeline.yml.tpl.ts
  src/templates/workflows/shared/operations-tag-promote.ts
Due: Workflow Templates, CLI

fix: actually remove config parsing from action.yml
  .github/actions/promote-branch/action.yml
Due: none

fix(cicd): remove config parsing from promote-branch action (#188)
  .github/actions/promote-branch/action.yml
Due: none

feat(cicd): add custom gate job to pipeline
  .github/workflows/pipeline.yml
Due: none

cleanup md files
  .pipecraftrc.yaml
  DECOUPLING_SUMMARY.md
  FIXES_SUMMARY.md
  IMPROVEMENT_PLAN.md
Due: none

removes biome.js
  biome.json
Due: none
