Repository jamesvillarrubia/pipecraft: changes, and which Codecov flags are due for each by the changed paths.
All: Utils, Workflow Templates, Generators, CLI

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 60%

  # Ignore files that should not be included in coverage
  ignore:
    - "dist/**"
    - "coverage/**"
    - "docs/**"
    - "docs-site/**"
    - "tests/**"
    - "**/*.d.ts"
    - "**/*.config.*"
    - "**/*.test.ts"
    - "**/*.spec.ts"
    - "**/*.tpl.md"
    - ".github/**"
    - "src/templates/actions/**"  # Action templates are YAML, not executable TS

component_management:
  default_rules:
    # Default thresholds inherited by all components
    # Starting at 60%, with goal to gradually increase to 75%+
    statuses:
      - type: project
        target: 60%
      - type: patch
        target: 60%

  individual_components:
    # Core utilities - business logic
    - component_id: utils
      name: "Utils"
      paths:
        - src/utils/**
      flag_regexes:
        - ^core$

    # Workflow templates - pipeline generation
    - component_id: workflows
      name: "Workflow Templates"
      paths:
        - src/templates/workflows/**
      flag_regexes:
        - ^core$

    # Generators - orchestration code
    - component_id: generators
      name: "Generators"
      paths:
        - src/generators/**
      flag_regexes:
        - ^core$

    # CLI entry point
    - component_id: cli
      name: "CLI"
      paths:
        - src/cli/index.ts
      flag_regexes:
        - ^core$

comment:
  layout: "reach,diff,flags,components"
  show_carryforward_flags: false
  after_n_builds: 1

docs(roadmap): mark dispatch verification shipped and correct the Marketplace premise
  ROADMAP.md
  docs/docs/roadmap.md
Due: none

docs(reqts): specs and build/defer/drop decisions for roadmap goals 5 through 10
  reqts/goal-deployment-environments.md
  reqts/goal-gitflow-hotfix.md
  reqts/goal-gitlab-ci.md
  reqts/goal-matrix-builds.md
  reqts/goal-rollback.md
  reqts/goal-version-threading.md
Due: none

fix(init): --ci-provider gitlab exits 1 and names GitHub Actions as the only output (#604)
  src/cli/index.ts
  tests/integration/init-ci-provider.test.ts
Due: CLI

docs(reqts): specs and build/defer/drop decisions for roadmap goals 5 through 10 (#606)
  reqts/goal-deployment-environments.md
  reqts/goal-gitflow-hotfix.md
  reqts/goal-gitlab-ci.md
  reqts/goal-matrix-builds.md
  reqts/goal-rollback.md
  reqts/goal-version-threading.md
Due: none

docs(roadmap): mark dispatch verification shipped and correct the Marketplace premise (#605)
  ROADMAP.md
  docs/docs/roadmap.md
Due: none

docs(reqts): GitLab CI output is paused for a test bed, not deferred indefinitely
  MISTAKES.md
  reqts/goal-gitlab-ci.md
Due: none

fix(generate): rewrite an existing pipeline.yml on every run and preserve the custom-jobs section
  CLAUDE.md
  docs/docs/workflow-generation.md
  reqts/goal-deployment-environments.md
  reqts/goal-regenerate-pipeline.md
  src/templates/workflows/pipeline.yml.tpl.ts
  tests/integration/regenerate-pipeline.test.ts
Due: Workflow Templates

docs(mistakes): re-running a half-published release fails before the skill step
  MISTAKES.md
Due: none

fix(generate): rewrite an existing pipeline.yml on every run and preserve the custom-jobs section (#620)
  CLAUDE.md
  MISTAKES.md
  docs/docs/workflow-generation.md
  reqts/goal-deployment-environments.md
  reqts/goal-regenerate-pipeline.md
  src/templates/workflows/pipeline.yml.tpl.ts
  tests/integration/regenerate-pipeline.test.ts
Due: Workflow Templates

docs(reqts): GitLab CI output is paused for a test bed, not deferred indefinitely (#619)
  MISTAKES.md
  reqts/goal-gitlab-ci.md
Due: none

ci(publish): skip an already-published main version and align the skill package's repository URL
  .github/workflows/publish.yml
  scripts/publish-main.sh
  skills/pipecraft-cli/package.json
  tests/unit/publish-main-script.test.ts
  tests/unit/repository-url-parity.test.ts
Due: none

ci(publish): skip an already-published main version and align the skill package's repository URL (#625)
  .github/workflows/publish.yml
  scripts/publish-main.sh
  skills/pipecraft-cli/package.json
  tests/unit/publish-main-script.test.ts
  tests/unit/repository-url-parity.test.ts
Due: none

fix(generate): rewrite .release-it.cjs on a bumpRules change (#618)
  CLAUDE.md
  src/templates/release-it.cjs.tpl.ts
  tests/integration/regenerate-managed-workflows.test.ts
Due: none

fix(generate): rewrite .release-it.cjs on a bumpRules change (#618) (#628)
  CLAUDE.md
  src/templates/release-it.cjs.tpl.ts
  tests/integration/regenerate-managed-workflows.test.ts
Due: none

fix(generate): reject a config with ciProvider "gitlab" (#607)
  docs/docs/configuration-reference.md
  src/cli/index.ts
  tests/integration/generate-ci-provider.test.ts
Due: CLI

fix(generate): gate deploy-{domain} jobs on version and the domain's test job (#609)
  docs/docs/api/templates/workflows/shared.md
  docs/docs/api/templates/workflows/shared/operations-domain-jobs.md
  docs/docs/configuration-reference.md
  docs/docs/workflow-generation.md
  src/templates/workflows/pipeline.yml.tpl.ts
  src/templates/workflows/shared/operations-domain-jobs.ts
  tests/snapshots/deploy-job-dependencies.test.ts
Due: Workflow Templates

test(version): prove promotion version-threading is already wired, correct stale docs
  docs/plans/version-promotion-threading.md
  reqts/goal-version-threading.md
  tests/snapshots/workflow-snapshots.test.ts
Due: none

fix(config): add packageManager field, correct stale pnpmVersion default doc (#608)
  ROADMAP.md
  package.json
  src/types/index.ts
Due: none

fix(generate): reject a config with ciProvider "gitlab" (#607) (#629)
  docs/docs/configuration-reference.md
  src/cli/index.ts
  tests/integration/generate-ci-provider.test.ts
Due: CLI

fix(generate): gate deploy-{domain} jobs on version and the domain's test job (#609) (#630)
  docs/docs/api/templates/workflows/shared.md
  docs/docs/api/templates/workflows/shared/operations-domain-jobs.md
  docs/docs/configuration-reference.md
  docs/docs/workflow-generation.md
  src/templates/workflows/pipeline.yml.tpl.ts
  src/templates/workflows/shared/operations-domain-jobs.ts
  tests/snapshots/deploy-job-dependencies.test.ts
Due: Workflow Templates

test(version): prove promotion version-threading is already wired, correct stale docs (#631)
  docs/plans/version-promotion-threading.md
  reqts/goal-version-threading.md
  tests/snapshots/workflow-snapshots.test.ts
Due: none

fix(config): add packageManager field, correct stale pnpmVersion default doc (#608) (#634)
  ROADMAP.md
  package.json
  src/types/index.ts
Due: none

fix(setup-github): recommend allow_merge_commit from mergeStrategy config
  src/utils/github-setup.ts
  tests/unit/github-setup.test.ts
Due: Utils

fix(setup-github): pair merge_commit_message with merge_commit_title
  src/utils/github-setup.ts
  tests/unit/github-setup.test.ts
Due: Utils

fix(setup-github): recommend allow_merge_commit from mergeStrategy config (#641)
  src/utils/github-setup.ts
  tests/unit/github-setup.test.ts
Due: Utils
