Repository jamesvillarrubia/pipecraft: changes, and which Codecov flags are due for each by the changed paths.
All: Utils, Workflow Templates, Generators, CLI

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 2%
    patch:
      default:
        target: 60%

  # Ignore files that should not be included in coverage
  ignore:
    - "dist/**"
    - "coverage/**"
    - "docs/**"
    - "docs-site/**"
    - "tests/**"
    - "**/*.d.ts"
    - "**/*.config.*"
    - "**/*.test.ts"
    - "**/*.spec.ts"
    - "**/*.tpl.md"
    - ".github/**"
    - "src/templates/actions/**"  # Action templates are YAML, not executable TS

component_management:
  default_rules:
    # Default thresholds inherited by all components
    # Starting at 60%, with goal to gradually increase to 75%+
    statuses:
      - type: project
        target: 60%
      - type: patch
        target: 60%

  individual_components:
    # Core utilities - business logic
    - component_id: utils
      name: "Utils"
      paths:
        - src/utils/**
      flag_regexes:
        - ^core$

    # Workflow templates - pipeline generation
    - component_id: workflows
      name: "Workflow Templates"
      paths:
        - src/templates/workflows/**
      flag_regexes:
        - ^core$

    # Generators - orchestration code
    - component_id: generators
      name: "Generators"
      paths:
        - src/generators/**
      flag_regexes:
        - ^core$

    # CLI entry point
    - component_id: cli
      name: "CLI"
      paths:
        - src/cli/index.ts
      flag_regexes:
        - ^core$

comment:
  layout: "reach,diff,flags,components"
  show_carryforward_flags: false
  after_n_builds: 1

fix(docs): stop teaching commands that do not exist
  .claude/skills/pipecraft-cli/SKILL.md
  .cursorrules
  .github/copilot-instructions.md
  AGENTS.md
  PIPECRAFT_AI_GUIDE.md
  docs/docs/commands.md
  docs/docs/error-handling.md
  docs/docs/faq.md
  docs/docs/readme.md
  package.json
  skills/pipecraft-cli/SKILL.md
  src/cli/index.ts
  src/utils/config.ts
  tests/unit/documented-commands-exist.test.ts
Due: Utils, CLI

fix(docs): stop teaching commands that do not exist (#545)
  .claude/skills/pipecraft-cli/SKILL.md
  .cursorrules
  .github/copilot-instructions.md
  AGENTS.md
  PIPECRAFT_AI_GUIDE.md
  docs/docs/commands.md
  docs/docs/error-handling.md
  docs/docs/faq.md
  docs/docs/readme.md
  package.json
  skills/pipecraft-cli/SKILL.md
  src/cli/index.ts
  src/utils/config.ts
  tests/unit/documented-commands-exist.test.ts
Due: Utils, CLI

fix(skill): ship the skill file, and stop the fallback teaching a dead command
  CLAUDE.md
  MISTAKES.md
  package.json
  src/utils/github-setup.ts
  src/utils/skill-installer.ts
  tests/unit/documented-commands-exist.test.ts
Due: Utils

fix(skill): ship the skill file, and stop the fallback teaching a dead command (#548)
  CLAUDE.md
  MISTAKES.md
  package.json
  src/utils/github-setup.ts
  src/utils/skill-installer.ts
  tests/unit/documented-commands-exist.test.ts
Due: Utils

feat(skill): write each AI tool's own file, in a block you keep
  .claude/skills/pipecraft-cli/SKILL.md
  .cursorrules
  .github/copilot-instructions.md
  PIPECRAFT_AI_GUIDE.md
  README.md
  docs/docs/commands.md
  docs/plans/AI_SKILLS_DISTRIBUTION_PLAN.md
  skills/pipecraft-cli/SKILL.md
  src/cli/index.ts
  src/utils/skill-installer.ts
  tests/unit/documented-commands-exist.test.ts
  tests/unit/skill-installer.test.ts
Due: Utils, CLI

feat(skill): write each AI tool's own file, in a block you keep (#551)
  .claude/skills/pipecraft-cli/SKILL.md
  .cursorrules
  .github/copilot-instructions.md
  PIPECRAFT_AI_GUIDE.md
  README.md
  docs/docs/commands.md
  docs/plans/AI_SKILLS_DISTRIBUTION_PLAN.md
  skills/pipecraft-cli/SKILL.md
  src/cli/index.ts
  src/utils/skill-installer.ts
  tests/unit/documented-commands-exist.test.ts
  tests/unit/skill-installer.test.ts
Due: Utils, CLI

test(skill): pin the two SKILL.md copies to the same command list
  tests/unit/documented-commands-exist.test.ts
Due: none

docs: restructure user nav into groups; move dev docs to repo (#449)
  README.md
  docs-dev/ast-operations.md
  docs-dev/testing.md
  docs/docs/cli-reference.md
  docs/docs/commands.md
  docs/docs/contributing.md
  docs/docs/docs-index.md
  docs/docs/error-handling.md
  docs/docs/faq.md
  docs/docs/readme.md
  docs/sidebars.ts
  docs/src/pages/index.tsx
Due: none

test(skill): pin the two SKILL.md copies to the same command list (#554)
  tests/unit/documented-commands-exist.test.ts
Due: none

fix(release): dispatch publish only for a release the run created
  actions/create-release/action.yml
  src/templates/actions/create-release.yml.tpl.ts
  tests/unit/create-release-idempotent.test.ts
Due: none

fix(release): dispatch publish only for a release the run created (#559)
  actions/create-release/action.yml
  src/templates/actions/create-release.yml.tpl.ts
  tests/unit/create-release-idempotent.test.ts
Due: none

feat(skill): one skill source, published as @thecraftlab/pipecraft-skill
  .claude/skills/pipecraft-cli/SKILL.md
  .claude/skills/pipecraft-cli/examples/minimal.json
  .claude/skills/pipecraft-cli/examples/multi-domain.json
  .claude/skills/pipecraft-cli/examples/three-branch.yaml
  .github/workflows/publish.yml
  .gitignore
  README.md
  skills/pipecraft-cli/.claude-skill.json
  skills/pipecraft-cli/README.md
  skills/pipecraft-cli/SKILL.md
  skills/pipecraft-cli/bin.js
  skills/pipecraft-cli/install-skill.js
  skills/pipecraft-cli/package.json
  skills/pipecraft-cli/uninstall-skill.js
  src/utils/skill-installer.ts
  tests/unit/documented-commands-exist.test.ts
  tests/unit/skill-installer.test.ts
Due: Utils

feat(skill): one skill source, published as @thecraftlab/pipecraft-skill (#562)
  .claude/skills/pipecraft-cli/SKILL.md
  .claude/skills/pipecraft-cli/examples/minimal.json
  .claude/skills/pipecraft-cli/examples/multi-domain.json
  .claude/skills/pipecraft-cli/examples/three-branch.yaml
  .github/workflows/publish.yml
  .gitignore
  README.md
  skills/pipecraft-cli/.claude-skill.json
  skills/pipecraft-cli/README.md
  skills/pipecraft-cli/SKILL.md
  skills/pipecraft-cli/bin.js
  skills/pipecraft-cli/install-skill.js
  skills/pipecraft-cli/package.json
  skills/pipecraft-cli/uninstall-skill.js
  src/utils/skill-installer.ts
  tests/unit/documented-commands-exist.test.ts
  tests/unit/skill-installer.test.ts
Due: Utils

test(skill): cover init --with-skill, and correct the distribution plan
  docs/plans/AI_SKILLS_DISTRIBUTION_PLAN.md
  tests/integration/init-with-skill.test.ts
Due: none

test(skill): cover init --with-skill, and correct the distribution plan (#565)
  docs/plans/AI_SKILLS_DISTRIBUTION_PLAN.md
  tests/integration/init-with-skill.test.ts
Due: none

fix(workflows): enforce-pr-target no longer waits for an approval nobody gives
  .github/workflows/enforce-pr-target.yml
  src/templates/workflows/enforce-pr-target.yml.tpl.ts
  tests/integration/aux-workflows-skip-promote.test.ts
Due: Workflow Templates

fix(workflows): enforce-pr-target no longer waits for an approval nobody gives (#568)
  .github/workflows/enforce-pr-target.yml
  src/templates/workflows/enforce-pr-target.yml.tpl.ts
  tests/integration/aux-workflows-skip-promote.test.ts
Due: Workflow Templates

fix(ci): a skill publish that cannot run is not a failed release
  .github/workflows/publish.yml
  scripts/publish-skill.sh
  tests/unit/publish-skill-script.test.ts
Due: none

fix(ci): a skill publish that cannot run is not a failed release (#571)
  .github/workflows/publish.yml
  scripts/publish-skill.sh
  tests/unit/publish-skill-script.test.ts
Due: none

fix(skill): the published package would have had no bin
  scripts/publish-skill.sh
  skills/pipecraft-cli/bin.js
  skills/pipecraft-cli/package.json
  tests/unit/documented-commands-exist.test.ts
  tests/unit/publish-skill-script.test.ts
Due: none

fix(skill): the published package would have had no bin (#574)
  scripts/publish-skill.sh
  skills/pipecraft-cli/bin.js
  skills/pipecraft-cli/package.json
  tests/unit/documented-commands-exist.test.ts
  tests/unit/publish-skill-script.test.ts
Due: none

fix(ci): drop --provenance when publishing outside GitHub Actions
  scripts/publish-skill.sh
  tests/unit/publish-skill-script.test.ts
Due: none

fix(ci): drop --provenance when publishing outside GitHub Actions (#577)
  scripts/publish-skill.sh
  tests/unit/publish-skill-script.test.ts
Due: none

docs: document pipecraft skill, and record what this session cost to learn
  CLAUDE.md
  docs/docs/cli-reference.md
  docs/plans/AI_SKILLS_DISTRIBUTION_PLAN.md
Due: none

docs: document pipecraft skill, and record what this session cost to learn (#580)
  CLAUDE.md
  docs/docs/cli-reference.md
  docs/plans/AI_SKILLS_DISTRIBUTION_PLAN.md
Due: none

fix(promote): target the next hop for every hop, not only the first
  src/templates/workflows/shared/operations-tag-promote.ts
  tests/snapshots/__snapshots__/workflow-snapshots.test.ts.snap
  tests/unit/promote-target-every-hop.test.ts
Due: Workflow Templates

fix(promote): target the next hop for every hop, not only the first (#583)
  src/templates/workflows/shared/operations-tag-promote.ts
  tests/snapshots/__snapshots__/workflow-snapshots.test.ts.snap
  tests/unit/promote-target-every-hop.test.ts
Due: Workflow Templates

docs: five claims that contradict the CLI
  PIPECRAFT_AI_GUIDE.md
  docs/docs/cli-reference.md
  docs/docs/commands.md
  skills/pipecraft-cli/SKILL.md
Due: none

fix(templates): publish dispatch targets finalBranch, and enforce-pr-target drops its base filter
  .github/workflows/enforce-pr-target.yml
  actions/create-release/action.yml
  src/templates/actions/create-release.yml.tpl.ts
  src/templates/workflows/enforce-pr-target.yml.tpl.ts
  tests/integration/aux-workflows-skip-promote.test.ts
  tests/unit/create-release-idempotent.test.ts
Due: Workflow Templates

fix(skill): uninstall honours --target, list tells project from global, publish script survives bash 3.2
  scripts/publish-skill.sh
  src/cli/index.ts
  src/utils/skill-installer.ts
  tests/unit/publish-skill-script.test.ts
  tests/unit/skill-installer.test.ts
Due: Utils, CLI

docs: five claims that contradict the CLI (#584)
  PIPECRAFT_AI_GUIDE.md
  docs/docs/cli-reference.md
  docs/docs/commands.md
  skills/pipecraft-cli/SKILL.md
Due: none

fix(skill): uninstall honours --target, and the publish script survives bash 3.2 (#586)
  scripts/publish-skill.sh
  src/cli/index.ts
  src/utils/skill-installer.ts
  tests/unit/publish-skill-script.test.ts
  tests/unit/skill-installer.test.ts
Due: Utils, CLI

fix(templates): publish dispatch targets finalBranch, and enforce-pr-target drops its base filter (#585)
  .github/workflows/enforce-pr-target.yml
  actions/create-release/action.yml
  src/templates/actions/create-release.yml.tpl.ts
  src/templates/workflows/enforce-pr-target.yml.tpl.ts
  tests/integration/aux-workflows-skip-promote.test.ts
  tests/unit/create-release-idempotent.test.ts
Due: Workflow Templates

fix(publish): a hand publish that fails exits 1 and names the login, not the OIDC warning
  scripts/publish-skill.sh
  tests/unit/publish-skill-script.test.ts
Due: none

fix(publish): a hand publish that fails exits 1 and names the login (#595)
  scripts/publish-skill.sh
  tests/unit/publish-skill-script.test.ts
Due: none

docs(mistakes): npm answers an unauthenticated scoped PUT with 404
  MISTAKES.md
Due: none

docs(mistakes): npm answers an unauthenticated scoped PUT with 404 (#596)
  MISTAKES.md
Due: none

docs(skill): autoPromote false still opens the promotion PR
  PIPECRAFT_AI_GUIDE.md
  skills/pipecraft-cli/SKILL.md
  tests/unit/auto-promote-guidance.test.ts
Due: none

docs(skill): autoPromote false still opens the promotion PR (#601)
  PIPECRAFT_AI_GUIDE.md
  skills/pipecraft-cli/SKILL.md
  tests/unit/auto-promote-guidance.test.ts
Due: none

fix(init): --ci-provider gitlab exits 1 and names GitHub Actions as the only output
  src/cli/index.ts
  tests/integration/init-ci-provider.test.ts
Due: CLI
