Repository jamesvillarrubia/pipecraft: changes, and which Codecov flags are due for each by the changed paths.
All: Utils, Workflow Templates, Generators, CLI

fix: enable npm OIDC publishing with provenance attestation
  .github/workflows/publish.yml
Due: none

fix: enable npm OIDC publishing with provenance attestation (#143)
  .github/workflows/publish.yml
Due: none

docs: restructure documentation for user personas
  README.md
  docs/docs/architecture.md
  docs/docs/cli-reference.md
  docs/docs/commands.md
  docs/docs/configuration-reference.md
  docs/docs/contributing.md
  docs/docs/examples.md
  docs/docs/flows/custom-flow.md
  docs/docs/flows/gitflow.md
  docs/docs/flows/github-flow.md
  docs/docs/flows/trunk-flow.md
  docs/docs/intro.md
  docs/docs/roadmap.md
  docs/docs/security.md
  docs/docs/troubleshooting.md
  docs/docs/version-management.md
  docs/docs/workflow-generation.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/static/img/android-chrome-192x192.png
  docs/static/img/android-chrome-512x512.png
  docs/static/img/apple-touch-icon.png
  docs/static/img/favicon-16x16.png
  docs/static/img/favicon-32x32.png
  docs/static/img/favicon.ico
  docs/static/img/logo_banner.png
  docs/static/img/logo_square.png
  docs/static/logo.svg
  docs/static/site.webmanifest
  package.json
Due: none

fix: use SVG logo in navbar instead of PNG
  docs/docusaurus.config.ts
Due: none

fix: move runtime dependencies from devDependencies to dependencies
  package.json
Due: none

refactor: move release-it packages to devDependencies
  package.json
Due: none

style: darken logo color for better navbar contrast
  docs/static/logo.svg
Due: none

style: scale up navbar logo and crop whitespace
  docs/docusaurus.config.ts
  docs/src/css/custom.css
Due: none

style: finalize navbar logo with PNG and adjusted scaling
  docs/src/css/custom.css
  docs/static/img/logo.png
  docs/static/img/logo.svg
  docs/static/logo.svg
Due: none

docs: refocus value proposition on battle-tested templates
  README.md
Due: none

docs: update all documentation to emphasize battle-tested templates
  docs/docs/intro.md
  docs/docs/workflow-generation.md
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/pages/index.tsx
Due: none

fix: include template source files in published package
  package.json
Due: none

fix: load compiled .js template files instead of .ts source
  assets/logo.sketch
  src/cli/index.ts
Due: CLI

fix: pass config object to writeJSON instead of stringified JSON
  src/generators/init.tpl.ts
Due: Generators

feat(messaging): implement persona-aware messaging system for setup-github
  IMPLEMENTATION_PLAN.md
  MESSAGING_DEMO.md
  src/cli/index.ts
  src/types/index.ts
  src/utils/github-setup-v2.ts
  src/utils/github-setup.ts
  src/utils/messaging.ts
Due: Utils, CLI

feat: implement comprehensive PipeCraft improvements
  .github/actions/calculate-version/action.yml
  .github/actions/create-release/action.yml
  .github/actions/detect-changes/action.yml
  .github/actions/manage-branch/action.yml
  .github/actions/promote-branch/action.yml
  .github/workflows/pipeline.yml
  .release-it.cjs
  MESSAGING_DEMO.md
  README.md
  docs/docs/configuration-reference.md
  docs/docs/intro.md
  src/generators/workflows.tpl.ts
  src/templates/release-it.cjs.tpl.ts
  src/templates/workflows/pipeline-path-based.yml.tpl.ts
  src/utils/github-setup-v2.ts
  src/utils/messaging.ts
  src/utils/preflight.ts
  tests/unit/preflight.test.ts
Due: Utils, Workflow Templates, Generators

fix: correct YAML indentation in detect-changes action
  .github/actions/detect-changes/action.yml
Due: none

fix: update pnpm-lock.yaml to sync with package.json
  pnpm-lock.yaml
Due: none

fix: correct domain configuration and workflow generation
  .github/actions/detect-changes/action.yml
  .github/workflows/pipeline.yml
  .pipecraftrc.json
Due: none

feat: centralize DEFAULT_PREFIXES for consistent versioning
  .github/workflows/enforce-pr-target.yml
  .github/workflows/pipeline.yml.backup2
  .release-it.cjs
  src/generators/workflows.tpl.ts
  src/templates/release-it.cjs.tpl.ts
  src/templates/workflows/enforce-pr-target.yml.tpl.ts
  src/templates/workflows/pr-title-check.yml.tpl.ts
  src/utils/versioning.ts
Due: Utils, Workflow Templates, Generators

refactor(templates): improve pr-title-check template structure
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

fix(actions): correct YAML formatting in detect-changes action
  .github/actions/detect-changes/action.yml
Due: none

no message
  examples/pipeCraft-generation-behavior.md
  examples/pipeCraft-test-results.md
Due: none

fix: detect changes yaml formatting (#151)
  .github/actions/detect-changes/action.yml
  examples/pipeCraft-generation-behavior.md
  examples/pipeCraft-test-results.md
  src/templates/workflows/pr-title-check.yml.tpl.ts
Due: Workflow Templates

test: trigger docs deployment with small config change
  docs/docusaurus.config.ts
Due: none

test: trigger docs deployment (#154)
  docs/docusaurus.config.ts
Due: none

fix: implement proper GitHub Pages deployment for docs
  .github/workflows/pipeline.yml
Due: none

fix: implement proper GitHub Pages deployment (#155)
  .github/workflows/pipeline.yml
Due: none

fix: add the main stipulation to deploy docs
  .github/workflows/pipeline.yml
  docs/src/components/HomepageFeatures/index.tsx
Due: none

fix: test docs deployment (#157)
  .github/workflows/pipeline.yml
  docs/src/components/HomepageFeatures/index.tsx
Due: none

fix: correct broken trunk-flow documentation links
  docs/docs/docs-index.md
  docs/docs/error-handling.md
  docs/docs/readme.md
Due: none

fix: correct broken trunk-flow documentation links (#160)
  docs/docs/docs-index.md
  docs/docs/error-handling.md
  docs/docs/readme.md
Due: none

fix: logo light and dark modes
  docs/docusaurus.config.ts
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/static/img/logo.png
  docs/static/img/logo_banner_trans.png
Due: none

Fix docs banner transform scale and dark mode visibility
  docs/docusaurus.config.ts
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/static/img/logo.png
  docs/static/img/logo_banner_trans.png
Due: none

fix(test): configure test suite to run in isolated git repo
  examples/trunk-based-nx-demo/.gitignore
  examples/trunk-based-nx-demo/test-utils/pipecraft-runner.mjs
Due: none

fix(test): final test suite improvements
  examples/trunk-based-nx-demo/.gitignore
  examples/trunk-based-nx-demo/test-utils/pipecraft-runner.mjs
Due: none

feat: implement Nx monorepo integration (Option 1: Sequential)
  examples/trunk-based-nx-demo/.release-it.cjs
  examples/trunk-based-nx-demo/TEST-REPORT.md
  src/generators/init.tpl.ts
  src/generators/workflows.tpl.ts
  src/templates/workflows/nx-sequential-pipeline.tpl.ts
  src/types/index.ts
Due: Workflow Templates, Generators

Path conditions:
  Utils: any of: src/utils/**
  Workflow Templates: any of: src/templates/workflows/**
  Generators: any of: src/generators/**
  CLI: any of: src/cli/index.ts
